<div class="container-fluid p-0">
    <div class="row">
        <div class="container-form ">
            <main class="form-signin m-auto swing-in-top-fwd-auth">
                <form>
                    <div class="text-center mb-4">
                        <mat-icon class="icon-login">password</mat-icon>

                        <h1 class="h4 mb-1 fw-normal">Forgot Your Password ?</h1>
                        <p class="span-psw">Use the form below to recover it.</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email Here..</label>
                    </div>
                    

                    
                    <button class="w-100 btn btn-lg btn-primary btn-submit" type="submit">Recover Password</button>
                    <div class="link-reset">
                        <p>Already have an account? <a routerLink="../login">Sign in</a></p>
                    </div>
                    <!--<p class="mt-4 mb-1 text-muted text-center">&copy; Tanitlab 2022</p>-->
                </form>
            </main>
        </div>
    </div>
</div>