<div class="container-fluid p-0">
    <div class="row">
        <div class="container-form">
            <div class="name-space-main m-auto swing-in-top-fwd-auth ">
                    <!---->
                    <div class="creat-account-div">
                        <div class="text-center mb-4">
                           <h3 class="title-domane-interface">Login interface</h3>
                        </div>
                        <form>
                            <div class="form-floating mb-3 login-div">
                                <button type="button" class="btn-log">
                                    <img src="../../../../../assets/images/icon/google-icon.png" alt="" class="icon-google">
                                    <h4 >Login with google</h4>
                                </button>
                            </div>
                            <div class="form-floating  login-div">
                                <button type="button" class="btn-log">
                                    <h4 >Sign Up</h4>
                                </button>
                            </div>
                        </form>
                                   
                               
                    </div>
                    <!---->
                    
                </div>
        </div>
    </div>
</div>