<div class="container-fluid p-0">
    <div class="row">
        <div class="container-form">
            <div class="name-space-main m-auto swing-in-top-fwd-auth ">
                    <!---->
                    <div class="mb-4 name-space">
                            <div class="card simple-card">
                                <div class="card-header">
                                    <h3>Choose or creat new account to login</h3>                                   
                                </div>
                                <div class="card-body">
                                    <div class="left-body">
                                        <div class="btn-domaine" [routerLink]="'../select-account'">
                                            <mat-icon>playlist_add_check</mat-icon> 
                                            Choose Account
                                        </div>
                                    </div>
                                    <div class="right-body">
                                        <div class="btn-domaine" [routerLink]="'../creat-account'">
                                            <mat-icon>add</mat-icon> 
                                            Creat account
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                    </div>
                    <!---->
                    
                </div>
        </div>
    </div>
</div>