

<div class="div-main">
  <div class="title-page">
    <h2>Add des types évenements</h2>

  </div>
  <div class="container">
    <h2>{{ isEditMode ? "Edit Type Evenement" : "Add Type Evenement" }}</h2>
    <form #typeEvenementForm="ngForm" (ngSubmit)="onSubmit(typeEvenementForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="typeEvenement.name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="libele">Libele</label>
        <input
          type="text"
          class="form-control"
          id="libele"
          [(ngModel)]="typeEvenement.libele"
          name="libele"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">
        {{ isEditMode ? "Update" : "Add" }}
      </button>
    </form>
  </div>
</div>
