<div class="container-fluid p-0">
    <div class="row">
        <div class="container-form ">
            <main class="form-signin m-auto swing-in-top-fwd-auth ">
                <form >
                    <div class="text-center">
                        <mat-icon class="icon-login">pattern</mat-icon>

                        <h1 class="h4 mb-4 fw-normal">Change Password</h1>

                    </div>

                    <div class="form-floating">
                        <input type="password" class="form-control floatPassword" id="floatPassword" placeholder="Password">
                        <label for="floatingPassword">New Password</label>
                      </div>
                    
                      <div class="form-floating">
                        <input type="password" class="form-control floatRepeatPassword" id="floatRepeatPassword" placeholder="Repeat Password">
                        <label for="floatRepeatPassword">Repeat Password</label>
                      </div>

                    
                    <button class="w-100 btn btn-lg btn-primary btn-submit" type="submit">Save</button>
                    <div class="link-reset">
                        <p>Already have an account ? <a routerLink="../login">Sign in </a></p>
                        <p>Don’t have an account? <a routerLink="../sign-up">Sign up </a></p>
                    </div>
                    <!--<p class="mt-4 mb-1 text-muted text-center">&copy; Tanitlab 2022</p>-->
                </form>
            </main>
        </div>
    </div>
</div>