<div class="stats">
    <div class="stat requirements">
        <p>Users Accounts</p>
        <p>{{users.length}}</p>
    </div>
    <div class="stat total-hours">
        <p>TOTAL HOURS</p>
        <p>0 H</p>
    </div>
    <div class="stat timesheet">
        <p>TIMESHEET</p>
        <p>0%</p>
    </div>
    <div class="stat non-billable-hours">
        <p>NON BILLABLE HOURS</p>
        <p>0 H</p>
    </div>
</div>
<div class="div-main">
    <div class="title-page">
      <h2>Liste des utilisateurs</h2>
  
    </div>
  
    <div>
      <div class="container">
        <h2>User List</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Address</th>
              <th>Role</th>
              <th>Phone number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr   *ngFor="let user of users">
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.role }}</td>
              <td>{{user.phoneNumber}}</td>
              <td>
                <button class="btn btn-primary" (click)="editUser(user._id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
  
    </div>
  </div>
  