<div class="div-main">
  <div class="title-page">
    <h2>Action Admin</h2>
  </div>
  <div class="container">
    <h2>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="user.age" name="age" required>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address" required>
      </div>
      <div class="form-group">
        <label for="address">Phone number</label>
        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
      </div>
      
      <button type="submit" class="btn btn-success">{{ isEditMode ? 'Update' : 'Add' }}</button>
    </form>
  </div>

</div>
