

<html>

<body>
  <div class="container">
    <div class="form-container">
     
      <form [formGroup]="emailForm" (ngSubmit)="getUserByEmail()">
        <input type="text" formControlName="email" placeholder="Enter your email">
        <div *ngIf="emailForm.get('email')!.invalid && emailForm.get('code')!.touched || validCode==false">
          <p style="color: red;">Your code isn't valid or wrong</p>
        </div>
        <button type="submit">Verify</button>
      </form>
    </div>
  </div>
</body>

</html>